body {
  margin: -10px;
  overflow-x: hidden;
}

iframe {
  margin: 0;
  width: 100%;
}

/* */
/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #b463e7;
}