/* */
@import "misc.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');


/* */
/* DEFAULT STYLING */
.square {
    position: absolute;
    left: calc(50% - 100px / 2);
    transform: translateY(-25px);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

    width: 100px;
    height: 50px;
    background-color: #b463e7;

    font-family: 'Noto Sans';
    font-size: 20px;
    color: white;
    text-align: center;
}

.text-block {
    position: absolute;
    left: 50%;
    width: 1000px;
    transform: translate(-50%);
    padding-top: 50px;
    page-break-inside: avoid;
}

img {
    width: 1200px;
    height: auto;
    display: block;
    margin: auto auto;
    user-select: none;
}

h1 {
    font-family: 'Noto Sans';
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

h2 {
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: bold;
    color: #9a97b9;
    text-align: center;
    margin: auto;
}

h3 {
    font-family: 'Noto Sans';
    font-size: 30px;
    font-weight: bold;
    margin-bottom: auto;
}

h4 {
    font-family: 'Noto Sans';
    font-size: 20px;
    font-weight: bold;
    color: #9a97b9;
    padding-left: 30px;
    margin-top: auto;
}

ul {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin-top: -20px;
    line-height: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
}

x {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #b463e7;
    background-color: #f4f0f7;
    border-radius: 3px;
    margin-left: -3px;
    padding: 3px;
}

c {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #9a97b9;
    background-color: #f4f0f7;
    border-radius: 3px;
    margin-left: -3px;
    padding: 3px;
}



/* */
/* MOBILE STYLING */
@media only screen and (max-width: 1200px) {

    .changelog {
    position: relative;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -100px);
    }

    img {
        width: 100%;
        object-fit: cover;
    }

    h1 {
        font-size: 60px;
        padding-top: 20px;
    }

    h2 {
        font-size: 1.5vw;
        margin-top: -50px;
        padding-bottom: 15vw;
    }

    h3 {
        font-size: 50px;
    }

    h4 {
        font-size: 2vw;
        padding-left: 30px;
        padding-bottom: 1vmax;

    }

    ul {
        font-size: 1.5vw;
        line-height: 2vmax;
        padding-left: 30px;

    }

    x {
        font-size: 1.5vw;
    }
}



/* */
/* ANIMATIONS */
@keyframes fadeOut {
  0% {
    opacity: 33%;

  }
  100% {
  }
}

@keyframes PosY {
  0% {
    transform: translateY(20px);

  }
  100% {
  }
}

@keyframes SquareY {
  0% {
    transform: translateY(0px);

  }
  100% {
    transform: translateY(-25px);
    
  }
}

img {  
    animation: PosY 0.3s ease-in-out;
}

.square {
    animation: SquareY 0.3s ease-in-out;
}

h1 {
    animation: fadeOut 0.3s ease-out 0s 1, PosY 0.3s ease-in-out;
}

h2 {
    animation: fadeOut 0.4s ease-out 0s 1, PosY 0.325s ease-in-out;
}

h3, h4 {
    animation: fadeOut 0.5s ease-out 0s 1, PosY 0.350s ease-in-out;
}

ul, x {
    animation: fadeOut 0.6s ease-out 0s 1, PosY 0.375s ease-in-out;
}